{% extends 'home/master.html' %}

{% block title %}
<title>Dashboard - Teeth Disease Classification System</title>
{% endblock %}

{% block body %}
{% if messages %}
<section class="messages absolute w-[100%]" style="z-index: 5;">
  {% for message in messages %}
  <div
    class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show"
    role="alert">
    <strong>{{ message.tags|capfirst }} :</strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
      onclick="this.parentNode.remove(true)"></button>
  </div>
  {% endfor %}
</section>

<div id="alert-area" class="relative m-0"></div>
{% endif %}
<div class="flex flex-col justify-center items-center gap-[25px] pt-[50px]">
  {% include 'home/components/fileupload/FileUploader.html' %}
  {% include 'home/components/fileupload/Cropper.html' %}
  <!-- {% include 'home/components/historytable.html' %} -->
</div>
{% endblock %}