<!-- Crop Image Modal -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<div id="cropImageModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full hidden"
    style="z-index: 1000;">
    <div class="relative  md:w-[50%] m-auto p-4 border shadow-lg rounded-md bg-white">
        <div class="mt-1 text-center">
            <h3 class="text-xl font-bold mb-4">Crop Image</h3>
            <div class="crop-container mb-2">
                <img id="cropImage" src="" class="h-[500px] w-auto object-cover">
            </div>
            <div class="flex justify-center">
                <button id="cropButton"
                    class="bg-blue-500 text-white px-4 py-2 rounded cursor-pointer hover:bg-blue-600 transition duration-300 mr-2">
                    Crop and Save
                </button>
                <button onclick="cancelImageSelect()"
                    class="bg-gray-300 text-gray-800 px-4 py-2 rounded cursor-pointer hover:bg-gray-400 transition duration-300">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    let cropper;
    const cropImageModal = document.getElementById('cropImageModal');
    const cropImage = document.getElementById('cropImage');

    function showCropImageModal(image, firstTime = false) {
        // Show crop section and initialize cropper
        cropImageModal.classList.remove('hidden');
        cropImage.src = image;
        cropper = new Cropper(cropImage, {
            aspectRatio: 1,
            viewMode: 1,
            autoCropArea: 1,
        });

    }

    function hideCropImageModal() {
        cropImage.src = '';
        cropImageModal.classList.add('hidden');
    }

    function croppAndsave() {
        imagePreviewSection.style.display = 'flex';
        cropper = null;
        hideCropImageModal()
    }
    function cancelImageSelect() {
        hideCropImageModal();
        cropper = null;
        document.getElementById('imagePreview-section').style.display = 'none';
    }


    document.getElementById('cropButton').addEventListener('click', function () {
        if (cropper) {
            const croppedCanvas = cropper.getCroppedCanvas();
            croppedCanvas.toBlob((blob) => {
                file = new File([blob], fileName.innerText, { type: blob.type });
                cropped_image = file;
                document.getElementById('imagePreview').src = URL.createObjectURL(blob);
                croppAndsave();
            });
        }
    });
</script>
